<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>RSA</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <br>
    <br>
    <h1>RSA</h1>
    <br>
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="plaintext" class="col-form-label">Số nguyên M: </label>
                <input type="text" class="form-control" id="plaintext" name="plaintext">
            </div>
            <div class="col-sm-4">
                <label for="p" class="col-form-label">P: </label>
                <input type="text" class="form-control" id="p" name="plaintext" required>
            </div>
            <div class="col-sm-4">
                <label for="q" class="col-form-label">Q: </label>
                <input type="text" class="form-control" id="q" name="plaintext" required>
            </div>
        </div>
        <div class="form-group row">
            <button type="button" id="button-encrypt" class="col-md-2 offset-5 btn btn-success">Mã hóa</button>
        </div>
        <div class="form-group row">
            <label for="encrypted" class="col-form-label">Encrypted</label>
            <textarea class="form-control" id="encrypted" rows="3"></textarea>
        </div>
        <div class="form-group row">
            <button type="button" id="button-decrypt" class="col-md-2 offset-5 btn btn-primary">Giải mã</button>
        </div>
        <div class="form-group row">
            <label for="decrypted" class="col-form-label">Decrypted</label>
            <textarea class="form-control" id="decrypted" rows="3"></textarea>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        function checkBytes(key) {
            if ((new TextEncoder().encode(key)).length == 32 || (new TextEncoder().encode(key)).length == 16 || new TextEncoder().encode(key).length == 24) {
                return true;
            } else return false;
        }
        $(() => {

            $('#button-encrypt').click(() => {
                let data1 = new Object();
                data1.plaintext = $('#plaintext').val();
                data1.p = $('#p').val();
                data1.q = $('#q').val();
                $.ajax({
                    type: 'post',
                    url: "/rsa-thucong-mahoa",
                    data: data1,
                    success: (data) => {
                        document.getElementById('encrypted').value = data;
                    },
                    error: (xhr) => {
                        alert("Lỗi không thể mã hóa, kiểm tra lại M, P, Q!");
                        console.log(xhr.responseText);
                    }
                });


            });

            $('#button-decrypt').click(() => {

                let data1 = new Object();
                data1.encrypted = $('#encrypted').val();
                data1.p = $('#p').val();
                data1.q = $('#q').val();
                $.ajax({
                    type: 'post',
                    url: "/rsa-thucong-giaima",
                    data: data1,
                    success: (data) => {
                        document.getElementById('decrypted').value = data;
                    },
                    error: (xhr) => {
                        alert("Lỗi không thể giải mã, vui lòng kiểm tra lại!");
                        console.log(xhr.responseText);
                    }
                });
            });

        });

    </script>
</body>

</html>